#clock {
	position: relative;
	margin: auto;
	height: 200px;	
	width: 200px;
	background: url(images/clock.png) no-repeat;	
	background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#centerBolt {
    position: sticky;
    top: 0px;
    height: 10px;
    width: 10px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
    
    
  }

#hr,#min,#sec {
	position: absolute;
	
	border-radius: 15px;
	transform-origin: bottom;
}

#hr {
	width: 5px;
	height: 25%;
	top: 25%;
	left: 48.85%;
    background: rgb(11, 10, 11);
	
}

#min {
	width: 3px;
	height: 30%;
	top: 19%;
	left: 48.9%;
	background: rgb(7, 7, 7);
}

#sec {
	width: 1.5px;
	height: 40%;
	top: 9%;
	left: 49.25%;
	background: rgb(227, 39, 64);
    opacity: 0.8;
}
